@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

* {
	padding: 0;
	margin: 0;
	font-family: 'League Spartan', sans-serif;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--very-dark-desaturated-blue-1);
	color: var(--primary-text-color);
	height: 100vh;
}

.container {
	display: flex;
	flex-direction: column;
	width: 50vh;
	gap: 20px;
}

.display {
	background-color: var(--very-dark-desaturated-blue-3);
	padding: 20px;
	border-radius: 5px;
	font-size: 28px;
	text-align: end;
	color: var(--primary-text-color);
}

.buttons {
	display: grid;
	background-color: var(--very-dark-desaturated-blue-2);
	padding: 15px;
	border-radius: 5px;

	gap: 25px;
	grid-template-columns: 50px 50px 50px 50px;
}

.button {
	cursor: pointer;
	background-color: var(--light-grayish-orange);
	color: var(--very-dark-grayish-blue);
	text-align: center;
	padding: 10px;
	font-size: 1.3em;
	border-radius: 5px;
	width: 40px;
	border-bottom: 3px solid var(--grayish-orange);
	
	transition: all 0.2s;
}

.button:hover {
   background-color: var(--grayish-orange);
   color: var(--very-dark-grayish-blue);
}

#del {
	background-color: var(--desaturated-dark-blue-1);
	color: var(--light-grayish-orange);
	border-bottom: 3px solid var(--desaturated-dark-blue-2);
}

#del:hover {
	background-color: var(--very-dark-desaturated-blue-3);
	border-bottom: 3px solid var(--very-dark-desaturated-blue-3);
	color: var(--very-dark-grayish-blue);
}

#reset {
	width: auto;
	grid-column: span 2;

	background-color: var(--desaturated-dark-blue-1);
   color: var(--light-grayish-orange);
   border-bottom: 3px solid var(--desaturated-dark-blue-2);
}

#reset:hover {
	background-color: var(--very-dark-desaturated-blue-3);
	color: var(--very-dark-grayish-blue);
	border-bottom: 3px solid var(--very-dark-desaturated-blue-3);
}

#equal {
	width: auto;
	grid-column: span 2;

	background-color: var(--red);
   color: var(--light-grayish-orange);
	border-bottom: 3px solid var(--dark-red);
}

#equal:hover {
	background-color: var(--dark-red);
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.right-side {
	display: flex;
   flex-direction: column;
}

.right-side h3 {
	font-size: 0.9em;
	width: 100%;
	letter-spacing: 5px;
	margin-bottom: 5px;
	text-align: justify;
}

.theme-selector {
	cursor: pointer;
	background-color: var(--very-dark-desaturated-blue-2);
	height: 10px;
	width: 40px;
	padding: 3px;
	border-radius: 20px;
	transform: scale(1.4);
}

.ball {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background-color: var(--red);
	transition: transform 0.1s linear;
}

.right-side {
	display: flex;
}
